!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Authentication Microservice ###
Authentication/HELP.md
Authentication/.mvn/
Authentication/target/
Authentication/src/main/resources/application.properties

### ExpenseTracker Microservice ###
Expense/HELP.md
Expense/.mvn/
Expense/target/
Expense/src/main/resources/application.properties

### BudgetBuddy WebUI ###
BudgetBuddy/HELP.md
BudgetBuddy/.mvn/
BudgetBuddy/target/
BudgetBuddy/src/main/resources/application.properties